<footer class="page-footer blue lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ site.title }}</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>

          {% if site.github_username %}
          <li>
          <a class="grey-text text-lighten-3 " href="https://github.com/{{ site.github_username }}">{% icon fa-github fa-lg %} {{ site.github_username }}</i></a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a class="grey-text text-lighten-3 " href="https://twitter.com/{{ site.twitter_username }}">{% icon fa-twitter fa-lg %} {{ site.twitter_username }}</i></a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a class="grey-text text-lighten-3 " href="https://facebook.com/{{ site.facebook_username }}">{% icon fa-facebook fa-lg %} {{ site.facebook_username }}</i></a>
          </li>
          {% endif %}

          {% if site.500px_username %}
          <li>
            <a class="grey-text text-lighten-3 " href="https://500px.com/{{ site.500px_username }}">{% icon fa-500px fa-lg %} {{ site.500px_username }}</i></a>
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            <a class="grey-text text-lighten-3 " href="https://instagram.com/{{ site.instagram_username }}">{% icon fa-instagram fa-lg %} {{ site.instagram_username }}</i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; 2016
    </div>
  </div>
</footer>
