<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &vert; {% endif %}{{ site.title  }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', '}}">{% endif %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<link rel="stylesheet" href="{{ site.url }}/assets/style.css">

<!-- Materialize -->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<!-- Fuente para la cabecera - Logo -->
<link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet"> 
